<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" >Logout</a>
      <h2 style="text-align: center; color: white;">{{title}}</h2>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

<!-- 
<span><h1>Welcome</h1></span>
<div>
  <span> <p>User Name</p>
  <input type="text"></span>
</div>
<div>
  <span> <p>Password</p>
  <input type= "password"></span>
</div>
<div>
  <button>Submit</button>
</div>

<span><h1>Registration</h1></span>
<div>
  <span>Member Name</span>
  <input type="text">
</div>
<div>
  <span>Member Address</span>
  <input type= "text">
</div>
<div>
  <button>Submit Register</button>
</div>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
 
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="memberlist" class="nav-link" routerLinkActive="active">Member List</a>
    </li>
    <li class="nav-item">
        <a routerLink="memberlist" class="nav-link" routerLinkActive="active">Add Member</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
    </div>
  </div>
</div> -->
